################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Requirements Game/FileContentIndex/b7c29329-a50a-4d4f-b4df-6011f2231566.vsidx
/.vs/Requirements Game/FileContentIndex/cb197633-72ab-483b-adcc-fa9a3f85c4c0.vsidx
/.vs/Requirements Game/FileContentIndex/1f22759e-8289-4dae-baa6-058a4c465d67.vsidx
/.vs/Requirements Game/FileContentIndex/16c34c6a-3753-4fde-9aff-30ef6284c06f.vsidx
/.vs/Requirements Game/FileContentIndex/26561542-c56a-41b6-8ef3-caa00dda615f.vsidx
/.vs/Requirements Game/FileContentIndex/317675be-06cb-4d03-b60b-d72626b32377.vsidx
/.vs/Requirements Game/FileContentIndex/431d883d-a3ef-40cd-9cea-b3961887af85.vsidx
/.vs/Requirements Game/FileContentIndex/5cf0927a-d716-40be-a378-c6626652c098.vsidx
/.vs/Requirements Game/FileContentIndex/6e8c1cfa-cea7-4a19-9648-8cff3410aeca.vsidx
/.vs/Requirements Game/FileContentIndex/8606f050-8fc2-40ce-b1ce-0c23f3d9aa5c.vsidx
/.vs/RequirementsGame/FileContentIndex/724f6c4b-1ec0-4c62-bffe-4d60463ef40d.vsidx
/.vs/RequirementsGame/FileContentIndex/8e1c27f3-e09f-43c7-9dc5-621a19c1c465.vsidx
/.vs/RequirementsGame/FileContentIndex/a67c97ec-21c8-4cd7-8354-22b998079eba.vsidx
