################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Requirements Game/FileContentIndex/b7c29329-a50a-4d4f-b4df-6011f2231566.vsidx
/.vs/Requirements Game/FileContentIndex/cb197633-72ab-483b-adcc-fa9a3f85c4c0.vsidx
/.vs/Requirements Game/FileContentIndex/1f22759e-8289-4dae-baa6-058a4c465d67.vsidx
/.vs/Requirements Game/FileContentIndex/16c34c6a-3753-4fde-9aff-30ef6284c06f.vsidx
/.vs/Requirements Game/FileContentIndex/26561542-c56a-41b6-8ef3-caa00dda615f.vsidx
